<h1>Listing emissoras</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Canal</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @emissoras.each do |emissora| %>
  <tr>
    <td><%= emissora.nome %></td>
    <td><%= emissora.canal %></td>
    <td><%= link_to 'Show', emissora %></td>
  </tr>
<% end %>
</table>

<br />
