<h1>Listing programas</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Sinopse</th>
    <th>Duracao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @programas.each do |programa| %>
  <tr>
    <td><%= programa.nome %></td>
    <td><%= programa.sinopse %></td>
    <td><%= programa.duracao %></td>
    <td><%= link_to 'Show', programa %></td>
  </tr>
<% end %>
</table>

<br />
