<h1>Listing classificacoes</h1>

<table>
  <tr>
    <th>Descricao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @classificacoes.each do |classificacao| %>
  <tr>
    <td><%= classificacao.descricao %></td>
    <td><%= link_to 'Show', classificacao %></td>
  </tr>
<% end %>
</table>
<br />
