<p id="notice"><%= notice %></p>

<p>
  <b>Descricao:</b>
  <%= @classificacao.descricao %>
</p>

<p>
  <b>Programas com essa classificacao:</b>
  <% @classificacao.programas.each do |programa| %>
	  <p><%= link_to programa.nome, programa_path(programa) %></p>
  <% end %>
</p>
<%= link_to 'Back', classificacoes_path %>
