<p id="notice"><%= notice %></p>

<p>
  <b>Descricao:</b>
  <%= @classificacao.descricao %>
</p>


<%= link_to 'Edit', edit_classificacao_path(@classificacao) %> |
<%= link_to 'Back', classificacoes_path %>
