<p id="notice"><%= notice %></p>

<p>
  <b>Identifier:</b>
  <%= @stb.identifier %>
</p>

<p>
  <b>Interações:</b>
  <% @stb.interacoes.each do |interacao| %>
  	<p><%= link_to interacao.data, interacao_path(interacao) %></p>
  <% end %>
</p>

<%= link_to 'Back', stbs_path %>
